.carousel-img {
  background-image: url(./Images/Carousel/fashion.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  background-position: top;

  height: 65vh;
}
.carousel-control-icon-prev {
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 35px;
  color: darkorange;
  text-shadow: 2px 2px black;
  transform: translate(-5%, -35%);
}
.carousel-control-icon-next {
  position: absolute;
  top: 35%;
  font-size: 35px;
  color: darkorange;
  text-shadow: 2px 2px black;
  right: 5%;
  transform: translate(-5%, -35%);
}

/*producsts css */

.products-card {
  width: 340px;
  height: 400px;
  background-color: white;
  margin-bottom: 20px;
  /* z-index: -1; */
  position: relative;
  margin: 0.5rem;
  /* display: inline-block; */
  float: left;
}

.products {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: -220px;
  position: relative;
  z-index: 1;
}
.product-card-heading {
  font-size: 21px;
  height: 15%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bolder;
  color: black;
  padding: 4%;
}
.product {
  width: 44%;
  height: 32%;
  margin-left: 4%;
  float: left;
  margin-bottom: 3%;
}
.product_image {
  width: 100%;
  height: 80%;
}
.product_caption {
  font-size: 14px;
  line-height: 1.2;
}
.product-card-caption {
  font-size: 14px;
  color: rgb(112, 69, 153);
  text-decoration: none;
  padding-left: 20px;
  text-align: start;
}
/*sign in card in products */
.card-signin {
  width: 340px;
  height: 400px;
  background-color: transparent;
  margin-bottom: 20px;
  background-color: transparent;
  padding: 0;
  /* display: inline-block; */
  float: left;
  margin: 0.5rem;
}
.card-signin-btn {
  background-color: white;
  height: fit-content;
  text-align: center;
  padding: 20px;
}
.btn-center {
  text-align: center;
  color: black;
  width: 80%;
  background-color: orange;
  border: 0px;
  padding: 12px;
}
.card-signin-img {
  width: 80%;
  height: 51%;
  margin-left: 10%;
  margin-top: 6%;
}

.product-card2-image {
  width: 90%;
  height: 65%;
  margin-left: 5%;
}

/* to properly place cards and footer on all device */
@media screen and (max-width: 1420px) {
  .products {
    margin-top: -240px;
  }
}
@media screen and (max-width: 1202px) {
  .products {
    margin-top: -180px;
  }
}
@media screen and (max-width: 900px) {
  .products {
    margin-top: -40px;
  }
}
@media screen and (max-width: 560px) {
  .products {
    margin-top: -20px;
  }
}

/* slider starts here */

.slider {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white;
  position: relative;
  clear: both;
}
.slider-heading {
  font-size: 22px;
  color: black;
  font-weight: 600;
}
/*sponsered image is here */
.sponsered {
  /* text-align: center; */
  margin: 25px;
  display: flex;
  justify-content: center;
}
/* sign in component */
.signbtn {
  background-color: white;
  line-height: 30px;
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.btn-signin {
  width: 18%;
  background-color: orange;
  border: none;
  padding: 10px;
}
